.container{
    margin: auto;
    background-color: aquamarine;
    max-width: 300px;
    padding: 20px;
}

input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-style: none;
}

input[type="submit"]{
    color:white;
    background-color: black;
    font-weight: bold;
}